{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Chameleon by Ni&Deng&Xie{% endblock %}</title>

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <!-- CSS Files -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock %}


</head>

<body>

<header id="header">

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="/welcome/" class="scrollto"><span>Chameleon</span></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><a href="/community/">Community</a></li>
                <li><a href="#" onclick="check_cookie()">Tool</a></li>
                {#                <li><a href="/tool">Tool</a></li>#}
                <li><a href="/login/">Login</a></li>
            </ul>
        </nav><!-- .main-nav -->
    </div>
</header><!-- #header -->
<main id="main">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</main>

<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Chameleon</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

</body>
</html>


{% load static %}
<script src={% static '/js/diagram.js' %}></script>
<script>
    function check_cookie() {
        var a = getCookie(user_id)
        console.log(a)
        var user_id = getCookie('user_id') || "-1";
        console.log(user_id)
        if (getCookie('user_id') === undefined) {
            console.log("not login")
            window.location.href = '/login/';
        } else {
            console.log("login")
            window.location.href = '/tool/';
        }
        //var payload = {
        //"user_id": user_id,
        //};
        {#$.ajax({#}
        {#    url: '',#}
        {#    type: 'POST',#}
        {#    data: payload,#}
        {#    dataType: 'json',#}
        {#    success: function (data) {#}
        {#        alert("test");#}
        {#        console.log("test")#}
        {#        console.log(data['user_id'])#}
        {#        if (data['user_id'] == -1){#}
        {#window.location('/login/');#}
        {#            window.location.href = '/login/';#}
        {#        }#}
        {#        else{#}
        {#            window.location.href = '/welcome/';#}
        {#        }#}
        {#    },#}
        {#    error: function (r, s, e) {#}
        {#        alert("Unexpected error:" + e);#}
        {#        console.log(r);#}
        {#        console.log(s);#}
        {#        console.log(e);#}
        {#    }#}
        //
    }
</script>
