{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    <img src="{% static 'img/portfolio/card3.jpg' %}" class="img-fluid" id="download_img" />
-->
{% if map_src %}
    <img src="{{ map_src }}" class="img-fluid" id="download_img"/>

{% else %}
    {% with ""|add:img_url as img %}
        <img src="{% static img %}" class="img-fluid" id="download_img"/>

    {% endwith %}

{% endif %}
</body>
</html>
<script>

    function download_Img(filename, content_url) {
        var a = document.createElement("a");

        a.style = "display: none";
        a.href = content_url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();

        setTimeout(function () {
            document.body.removeChild(a);
            window.URL.revokeObjectURL(content_url);
        }, 5);
    }
</script>
<script>
    document.getElementById("download_img").onclick = function () {
        var img_name = "download.jpg";
        var data = document.getElementById("download_img").src;
        alert(data);
        download_Img(img_name, data);
    }
</script>
