
{% extends "base.html" %}

{% block title %}Chameleon - Index{% endblock %}

{% block content %}
    <!--==========================
Intro Section
============================-->
<section id="intro" class="clearfix">
    {% if msg %}
        <div class="alert alert-warning">{{ msg }}</div>
    {% endif %}
<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-6 intro-info order-md-first order-last">
      <h2>Create character <br>world for your <span> Mind! </span></h2>
      <div>
        <a href="/login" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>

    <div class="col-md-6 intro-img order-md-last order-first">
        {% load static %}
      <img src="{% static "img/intro-img.svg"  %}" alt="" class="img-fluid">
    </div>
  </div>

</div>
</section><!-- #intro -->

    <section id="services" class="section-bg">
      <div class="container">

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
{#              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>#}
                <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Star War</a></h4>
              <p class="description">Star Wars is a series of science fiction films produced by American director George Lucas.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">The rings</a></h4>
              <p class="description">"Lord of the Rings" is a fantasy series directed by Peter Jackson.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
{#              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>#}
                <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Marvel</a></h4>
              <p class="description">The Marvel universe refers to the number of the universe under the Marvel universe.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
{#              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>#}
                <div class="icon" style="background: #e1eeff;"><i class="ion-android-person" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Nikan</a></h4>
              <p class="description">It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity. it was the season of Light.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-android-person" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Lulin</a></h4>
              <p class="description">It was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us.we were all going direct to Heaven</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
{#              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>#}
                <div class="icon" style="background: #e1eeff;"><i class="ion-android-person" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Zhiyao</a></h4>
              <p class="description">We were all going direct the other way--in short. The period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->
{% endblock %}
