<main id="main">
{% extends "base.html" %}

 {% block title %}Login Page{% endblock %}

 {% block content %}

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header center-block">
          <h3 class="section-title">Register</h3>
        </header>

          {% if msg %}
               <div class="alert alert-warning">{{ msg }}</div>
          {% endif %}

        <div class="row clearfix">
        </div>
        <div class="row">
          <div class="col-md-4 column">
          </div>
          <div class="col-md-5 column center-block">
            <form class="form-horizontal" role="form" method="post">
              <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="exampleInputEmail1">User</label>
                <div class="col-sm-10">
                    {% csrf_token %}
                  <input type="text" name="username" class="form-control" placeholder="User name" id="username" />
                </div>
              </div>
              <div class="form-group form-group-lg">
                 <label class="col-sm-2 control-label" for="InputPassword1">Password</label>
                 <div class="col-sm-10">
                     {% csrf_token %}
                  <input type="password" name="password1" class="form-control" placeholder="Password" id="Password1" />
                 </div>
              </div>

                <div class="form-group form-group-lg">
                  <label class="col-sm-4 control-label" for="InputPassword2">Same password</label>
                  <div class="col-sm-10">
                      {% csrf_token %}
                   <input type="password" name="password2" class="form-control" placeholder="Repeat Password" id="Password2" />
                  </div>
               </div>

              <div class="col-sm-10">
                <div class="checkbox"> 
                  <button class="btn btn-large btn-info" style="float:right" type="submit">Register</button>
                </div>
              </div>
              
            </form>
          </div>
          <div class="col-md-3 column">
          </div>  

        </div>


      </div>
    </section>
  </main>

  <!--==========================
    Footer
  ============================-->
{#  <footer id="footer" class="section-bg">#}
{#    <div class="container">#}
{#      <div class="copyright">#}
{#        &copy; Copyright <strong>Chameleon</strong>. All Rights Reserved#}
{#      </div>#}
{#      <div class="credits">#}
{#        <!--#}
{#          All the links in the footer should remain intact.#}
{#          You can delete the links only if you purchased the pro version.#}
{#          Licensing information: https://bootstrapmade.com/license/#}
{#          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid#}
{#        -->#}
{#        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
{#      </div>#}
{#    </div>#}
{#  </footer><!-- #footer -->#}
{##}
{#  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>#}
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

{#  <!-- JavaScript Libraries -->#}
{#  <script src="lib/jquery/jquery.min.js"></script>#}
{#  <script src="lib/jquery/jquery-migrate.min.js"></script>#}
{#  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>#}
{#  <script src="lib/easing/easing.min.js"></script>#}
{#  <script src="lib/mobile-nav/mobile-nav.js"></script>#}
{#  <script src="lib/wow/wow.min.js"></script>#}
{#  <script src="lib/waypoints/waypoints.min.js"></script>#}
{#  <script src="lib/counterup/counterup.min.js"></script>#}
{#  <script src="lib/owlcarousel/owl.carousel.min.js"></script>#}
{#  <script src="lib/isotope/isotope.pkgd.min.js"></script>#}
{#  <script src="lib/lightbox/js/lightbox.min.js"></script>#}
{#  <!-- Contact Form JavaScript File -->#}
{#  <script src="contactform/contactform.js"></script>#}
{##}
{#  <!-- Template Main Javascript File -->#}
{#  <script src="js/main.js"></script>#}

{% endblock %}
